In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('../data/sea_all_years.csv')

/Users/cf/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = df.drop('Unnamed: 0.1', axis=1)

In [ ]:
# Function to check what percentage of each column is null
def checknulls(df):
    total = len(df)
    for c in df.columns.values:
        notnull = pd.notnull(df[c])
        selected = df.ix[notnull, c]
        print c, selected.count() / float(total)

In [ ]:
checknulls(df)

In [ ]:
# Drop a couple of columns, see what happens

In [4]:
df = df.dropna(axis=0, subset=['ArrTime', 'ArrDelay', 'DepDelay', 'DepTime', 'ActualElapsedTime', 'CRSElapsedTime', 'Distance'])

In [5]:
date_stngs = df.Year.astype(str) + '-' + df.Month.astype(str) + '-' + df.DayofMonth.astype(str)

In [6]:
date_stngs

0           1988-1-1
1           1988-1-2
2           1988-1-4
3           1988-1-5
5           1988-1-8
6          1988-1-11
7          1988-1-12
8          1988-1-13
9          1988-1-14
11         1988-1-18
12          1988-1-1
13          1988-1-3
14          1988-1-4
15          1988-1-5
16          1988-1-6
17          1988-1-7
18          1988-1-8
19         1988-1-10
20         1988-1-11
21         1988-1-13
22         1988-1-14
23         1988-1-15
24         1988-1-17
25         1988-1-18
26         1988-1-19
27         1988-1-20
28         1988-1-21
29         1988-1-22
30         1988-1-23
31         1988-1-25
             ...
5578452     2016-8-1
5578453     2016-8-1
5578454     2016-8-1
5578455     2016-8-1
5578456     2016-8-1
5578457     2016-8-4
5578458     2016-8-4
5578459     2016-8-4
5578460     2016-8-4
5578461     2016-8-4
5578462     2016-8-4
5578463     2016-8-4
5578464     2016-8-4
5578465     2016-8-4
5578466     2016-8-4
5578467     2016-8-4
5578468     2016-8-4
5578469     2016-8-4
5578470     2016-8-4
5578471     2016-8-4
5578472     2016-8-4
5578473     2016-8-4
5578474     2016-8-4
5578475     2016-8-4
5578476     2016-8-4
5578477     2016-8-4
5578478     2016-8-3
5578479     2016-8-3
5578480     2016-8-3
5578481     2016-8-3
dtype: object

In [7]:
a = pd.Series([pd.to_datetime(date) for date in date_stngs])
df['Date'] = a

In [8]:
df.head(1).T

                                     0
Unnamed: 0                           0
ActualElapsedTime                  147
AirTime                            NaN
ArrDelay                            -4
ArrTime                            926
CRSArrTime                         930
CRSDepTime                         700
CRSElapsedTime                     150
CancellationCode                   NaN
Cancelled                            0
CarrierDelay                       NaN
DayOfWeek                            5
DayofMonth                           1
DepDelay                            -1
DepTime                            659
Dest                               LAX
Distance                           954
Diverted                             0
FlightNum                         1400
LateAircraftDelay                  NaN
Month                                1
NASDelay                           NaN
Origin                             SEA
SecurityDelay                      NaN
TailNum                            NaN
TaxiIn                             NaN
TaxiOut                            NaN
UniqueCarrier                       PS
WeatherDelay                       NaN
Year                              1988
Date               1988-01-01 00:00:00

In [9]:
df.to_csv('sea_data_with_datetime.csv')

In [ ]:
df_origin_sea = df.ix[df['Origin'] == 'SEA', :]